temp/39a7831b-12e1-4fa7-82a1-2cb5194b953c/testCustomLogger/src/main/mule/poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:module-hello="http://www.mulesoft.org/schema/mule/module-hello" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/module-hello http://www.mulesoft.org/schema/mule/module-hello/current/mule-module-hello.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c2230554-66dc-4208-b1e9-abb4bd40bf21" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="1431e968-a5bb-4ff6-ab92-d05d09b4fead" >
		<db:generic-connection url="abc" driverClassName="com.ibm.db2.jcc.DB2Driver" user="akdakdd" />
	</db:config>
	<module-hello:config name="Hello_Smart_Connector_Config" doc:name="Hello Smart Connector Config" doc:id="850651e9-d972-418e-a7ca-11b26cfae1e9" host="localhost" port="8082" protocol="HTTP" />
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="5c32126b-0fdc-4fc6-b04d-24c5c7d2556b" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="pocFlow" doc:id="3289844b-7c1d-495f-960a-a4225349bc29" >
		<http:listener doc:name="Listener" doc:id="5c05dabe-5c39-4b99-b291-c12d10bb0bce" config-ref="HTTP_Listener_config" path="/poc">
			<redelivery-policy maxRedeliveryCount="2" />
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="4b75ce65-5c74-430c-9325-8c69685b1c53" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{"message":error.errorMessage."Hello World",
	"m2":error.errorMessage."Hello World"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<module-hello:log-message doc:name="Log message" doc:id="515d7855-6244-49f9-90e3-9360a0854a74" config-ref="Hello_Smart_Connector_Config" logLevel="DEBUG"/>
		<module-hello:do-get doc:name="Do get" doc:id="160ea711-8ae5-464c-9a64-783bf505e597" config-ref="Hello_Smart_Connector_Config" path="/request"/>
		<logger level="INFO" doc:name="Logger" doc:id="9f9290cd-df12-4bf9-9e47-5c4398becaa2" message="#[payload]"/>
		<raise-error doc:name="Raise error" doc:id="2ac12544-bc3a-4d27-bb9e-e1344a78d99b" type="ANY"/>
		<logger level="INFO" doc:name="Logger" doc:id="9ece1439-95b9-4391-bc39-57fd6ee164e5" message="success"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b31111ee-5e21-48e2-aaf7-183e11c7bedc" >
				<logger level="INFO" doc:name="Logger" doc:id="8543004b-ca08-4872-97fc-fa7a14d30414" message="fail"/>
				<ee:transform doc:name="Transform Message" doc:id="ac94518b-e995-4f36-a796-c95c3435e785" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
error.errorType]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="pocFlow1" doc:id="8c9ceeb3-7efc-4adb-8cdd-8b7ee781aa1d" >
		<http:listener doc:name="Listener" doc:id="44f1728d-a455-401a-9618-5a53abca0f68" config-ref="HTTP_Listener_config1" path="/request"/>
		<set-payload value='#[output json --- {"Hello":"My name is Ashish"}]' doc:name="Set Payload" doc:id="966b3aeb-4ed6-4694-abc8-4918f550b991" />
	</flow>
</mule>







